body {
  background-color: cornflowerblue;
}

button {
  margin: 5px;
}

.trivia-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.trivia-page {
  color: white;
}

.question-container {
  background-color: bisque;
}

.buttons {
  padding: 10px;
  display: grid;
  grid-template-columns: 100%;
}

.answer-buttons {
  padding: 10px;
  display: grid;
  grid-template-columns: 100%;
}