button {
  margin: 5px;
}

.trivia-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.button-container {
width:300px;
display: grid;
grid-template-columns: 100%;
}

.question-container {
  background-color: bisque;
}